@font-face {
  font-family: chalkduster;
  src: local(chalkduster) url("chalkduster.ttf") format("ttf"); }

/* line 6, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
body {
  color: #ffffff;
  background-color: #212121;
  font-family: chalkduster; }
  /* line 10, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
  body #wraper {
    background-image: url(bg-zebra.png);
    background-repeat: repeat; }
    /* line 13, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
    body #wraper #header {
      height: 160px; }
      /* line 15, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
      body #wraper #header #options-toolbox {
        text-align: center;
        height: 160px;
        background-image: url(polygon-toolbox.png);
        background-size: contain;
        background-repeat: no-repeat; }
        @media (max-width: 767px) {
          /* line 15, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
          body #wraper #header #options-toolbox {
            display: none; } }
        /* line 24, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #header #options-toolbox table {
          margin: 20px 0px 0px 60px; }
          @media (max-width: 1200px) {
            /* line 24, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
            body #wraper #header #options-toolbox table {
              margin: 15px 0px 0px 45px; } }
          @media (max-width: 991px) {
            /* line 24, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
            body #wraper #header #options-toolbox table {
              margin: 8px 0px 0px 30px; } }
          /* line 33, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
          body #wraper #header #options-toolbox table tr td {
            padding: 5px 15px;
            cursor: pointer; }
            @media (max-width: 1200px) {
              /* line 33, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
              body #wraper #header #options-toolbox table tr td {
                font-size: 11px; } }
            @media (max-width: 991px) {
              /* line 33, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
              body #wraper #header #options-toolbox table tr td {
                font-size: 8px; } }
            /* line 42, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
            body #wraper #header #options-toolbox table tr td img {
              width: 40px;
              height: auto; }
              @media (max-width: 991px) {
                /* line 42, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
                body #wraper #header #options-toolbox table tr td img {
                  width: 30px;
                  height: auto; } }
      /* line 54, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
      body #wraper #header #title-field {
        text-align: right;
        height: 160px;
        background-image: url(polygon-title.png);
        background-size: contain;
        background-repeat: no-repeat; }
        @media (max-width: 767px) {
          /* line 54, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
          body #wraper #header #title-field {
            padding-top: 20px; } }
        @media (max-width: 550px) {
          /* line 54, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
          body #wraper #header #title-field {
            padding-top: 15px; } }
        @media (max-width: 390px) {
          /* line 54, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
          body #wraper #header #title-field {
            padding-top: 5px; } }
        /* line 69, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #header #title-field h1 {
          font-size: 44px;
          text-transform: uppercase;
          margin: 30px 20px 0px 0px; }
          @media (max-width: 1200px) {
            /* line 69, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
            body #wraper #header #title-field h1 {
              font-size: 36px;
              margin: 25px 20px 0px 0px; } }
          @media (max-width: 991px) {
            /* line 69, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
            body #wraper #header #title-field h1 {
              font-size: 27px;
              margin: 20px 20px 0px 0px; } }
          @media (max-width: 767px) {
            /* line 69, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
            body #wraper #header #title-field h1 {
              margin: 10px 20px 0px 0px;
              font-size: 40px; } }
          @media (max-width: 700px) {
            /* line 69, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
            body #wraper #header #title-field h1 {
              font-size: 35px; } }
          @media (max-width: 630px) {
            /* line 69, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
            body #wraper #header #title-field h1 {
              font-size: 30px; } }
          @media (max-width: 550px) {
            /* line 69, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
            body #wraper #header #title-field h1 {
              font-size: 25px; } }
          @media (max-width: 470px) {
            /* line 69, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
            body #wraper #header #title-field h1 {
              font-size: 20px; } }
          @media (max-width: 390px) {
            /* line 69, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
            body #wraper #header #title-field h1 {
              font-size: 16px; } }
    /* line 103, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
    body #wraper #game-container {
      height: 700px; }
      @media (max-width: 991px) {
        /* line 103, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #game-container {
          height: 880px; } }
      @media (max-width: 630px) {
        /* line 103, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #game-container {
          height: 750px; } }
      @media (max-width: 520px) {
        /* line 103, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #game-container {
          height: 600px; } }
      @media (max-width: 440px) {
        /* line 103, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #game-container {
          height: 500px; } }
      @media (max-width: 380px) {
        /* line 103, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #game-container {
          height: 400px; } }
      /* line 120, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
      body #wraper #game-container #board-col {
        height: 700px;
        background-image: url(board.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 auto;
        font-size: 0; }
        @media (max-width: 991px) {
          /* line 120, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
          body #wraper #game-container #board-col {
            height: 920px; } }
        @media (max-width: 630px) {
          /* line 120, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
          body #wraper #game-container #board-col {
            height: 750px; } }
        @media (max-width: 520px) {
          /* line 120, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
          body #wraper #game-container #board-col {
            height: 600px; } }
        @media (max-width: 440px) {
          /* line 120, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
          body #wraper #game-container #board-col {
            height: 500px; } }
        @media (max-width: 380px) {
          /* line 120, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
          body #wraper #game-container #board-col {
            height: 400px; } }
        /* line 142, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #game-container #board-col .cell-wrapper {
          padding-top: 98px;
          padding-left: 37px; }
          @media (max-width: 991px) {
            /* line 142, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
            body #wraper #game-container #board-col .cell-wrapper {
              padding-top: 124px;
              padding-left: 60px; } }
          @media (max-width: 460px) {
            /* line 142, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
            body #wraper #game-container #board-col .cell-wrapper {
              padding-top: 100px;
              padding-left: 60px; } }
          @media (max-width: 350px) {
            /* line 142, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
            body #wraper #game-container #board-col .cell-wrapper {
              padding-top: 80px;
              padding-left: 40px; } }
          /* line 157, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
          body #wraper #game-container #board-col .cell-wrapper .cell {
            width: 160px;
            height: 160px;
            background-image: url(cell.png);
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            cursor: pointer; }
            @media (max-width: 1199px) {
              /* line 157, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
              body #wraper #game-container #board-col .cell-wrapper .cell {
                width: 130px;
                height: 130px; } }
            @media (max-width: 991px) {
              /* line 157, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
              body #wraper #game-container #board-col .cell-wrapper .cell {
                width: 200px;
                height: 200px; } }
            @media (max-width: 720px) {
              /* line 157, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
              body #wraper #game-container #board-col .cell-wrapper .cell {
                width: 170px;
                height: 170px; } }
            @media (max-width: 620px) {
              /* line 157, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
              body #wraper #game-container #board-col .cell-wrapper .cell {
                width: 150px;
                height: 150px; } }
            @media (max-width: 580px) {
              /* line 157, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
              body #wraper #game-container #board-col .cell-wrapper .cell {
                width: 130px;
                height: 130px; } }
            @media (max-width: 510px) {
              /* line 157, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
              body #wraper #game-container #board-col .cell-wrapper .cell {
                width: 110px;
                height: 110px; } }
            @media (max-width: 440px) {
              /* line 157, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
              body #wraper #game-container #board-col .cell-wrapper .cell {
                width: 90px;
                height: 90px; } }
            @media (max-width: 380px) {
              /* line 157, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
              body #wraper #game-container #board-col .cell-wrapper .cell {
                width: 75px;
                height: 75px; } }
      /* line 200, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
      body #wraper #game-container .col-space {
        width: 100%;
        height: 300px; }
      /* line 204, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
      body #wraper #game-container .score-font {
        font-size: 58px; }
      /* line 207, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
      body #wraper #game-container #player-pink-col {
        height: 700px; }
        @media (max-width: 991px) {
          /* line 207, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
          body #wraper #game-container #player-pink-col {
            width: 0px;
            height: 0px;
            display: none; } }
        /* line 214, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #game-container #player-pink-col .score-pink {
          width: 100%;
          height: 250px;
          background-image: url(score-bg-pink.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          padding-top: 50px; }
        /* line 223, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #game-container #player-pink-col .label-pink {
          width: 100%;
          height: auto; }
      /* line 228, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
      body #wraper #game-container #player-blue-col {
        height: 700px; }
        @media (max-width: 991px) {
          /* line 228, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
          body #wraper #game-container #player-blue-col {
            width: 0px;
            height: 0px;
            display: none; } }
        /* line 235, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #game-container #player-blue-col .score-blue {
          width: 100%;
          height: 250px;
          background-image: url(score-bg-blue.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          padding-top: 50px; }
        /* line 244, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #game-container #player-blue-col .label-blue {
          width: 100%;
          height: auto; }
    /* line 251, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
    body #wraper #tablet-player {
      display: none; }
      @media (max-width: 991px) {
        /* line 251, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #tablet-player {
          display: block; } }
      @media (max-width: 620px) {
        /* line 251, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #tablet-player {
          display: none; } }
      /* line 259, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
      body #wraper #tablet-player .score-pink {
        width: 100%;
        height: 250px;
        background-image: url(score-bg-pink.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 50px; }
        /* line 267, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #tablet-player .score-pink .score-font {
          font-size: 58px; }
      /* line 271, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
      body #wraper #tablet-player .label-pink {
        width: 100%;
        height: auto; }
      /* line 275, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
      body #wraper #tablet-player .score-blue {
        width: 100%;
        height: 250px;
        background-image: url(score-bg-blue.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 50px; }
        /* line 283, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #tablet-player .score-blue .score-font {
          font-size: 58px; }
      /* line 287, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
      body #wraper #tablet-player .label-blue {
        width: 100%;
        height: auto; }
    /* line 293, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
    body #wraper #mobile-player {
      display: none; }
      @media (max-width: 620px) {
        /* line 293, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #mobile-player {
          display: block; } }
      /* line 298, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
      body #wraper #mobile-player .score-pink {
        width: 100%;
        height: 250px;
        background-image: url(score-bg-pink.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 50px; }
        /* line 306, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #mobile-player .score-pink .score-font {
          font-size: 58px; }
      /* line 310, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
      body #wraper #mobile-player .score-blue {
        width: 100%;
        height: 250px;
        background-image: url(score-bg-blue.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 50px; }
        /* line 318, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #mobile-player .score-blue .score-font {
          font-size: 58px; }
    /* line 324, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
    body #wraper #footer {
      margin-top: 60px;
      background-color: #212121; }
      /* line 327, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
      body #wraper #footer p {
        margin: 20px;
        font-family: sans-serif;
        font-size: 10px; }
        /* line 331, /Users/pawel/Documents/!!!DOKUMENTY PRYWATNE/Warsaw JS/08-01-2-18/V_01/style.scss */
        body #wraper #footer p a {
          color: deeppink; }

/*# sourceMappingURL=style.css.map */